extends layout

block content
	div#main
	script(src='/bower_components/jquery/dist/jquery.js')
	script(src='/bower_components/d3/d3.js')
	script(src='/javascripts/xyplot/xyplot.js')
	script(src='/javascripts/index.js')